@{
    Layout = null;
    EvernoteUser user = SessionManager.CurrentUser;
}

@using MyEvernote.Entities
@using MyEvernote.WebApp.Functions
@model List<Comment>

@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>*@
<!------ Include the above in your HEAD tag ---------->


<div>
    <ul class="list-unstyled">
        @foreach (Comment item in Model)
        {
            <li class="media">
                <img src="https://via.placeholder.com/90" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">List-based media object</h5>
                    @item.Text
                    @if (user != null && user.Id == item.EvernoteUser.Id)
                    {
                        <div class="row">
                            <button class="btn btn-sm btn-warning"><span class="fa fa-edit"></span></button>
                            <button class="btn btn-sm btn-danger"><span class="fa fa-eraser"></span></button>
                        </div>
                    }
                    <div class="row">
                        &nbsp;<span class="align-bottom text-muted fa fa-user">&nbsp;</span> @item.EvernoteUser.UserName &nbsp;
                        <span class="text-muted fa fa-clock-o">&nbsp;</span> @item.ModifiedOn &nbsp;
                    </div>
                </div>

            </li>
            <hr />
        }

    </ul>
</div>
