@model List<string>
@{
    ViewBag.Title = "UserActivateCancel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "UserActivateOk";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<section>

    <div class="align-middle mt-5">
        <div class="card text-center ">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title fa fa-3x fa-warning">Bu kullanıcı zaten aktif !</h5>
                <p class="card-text">
                    @foreach (string item in Model)
                    {
                        @item;
                        <br/>
                    }

                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>

    </div>


</section>


<script>
    $(function () {
        setTimeout(function () {
            window.Location.href = "/Home/Index";
        },
            3000);
    });


</script>
